{{ " " }}
<div class="card" data-style="{{ include.style }}">
  <a
    {% if include.link %}
      href="{{ include.link | relative_url | uri_escape }}"
      target="_blank"
      rel="noopener noreferrer"
    {% endif %}
    aria-label="{{ include.title | default: "card link" | regex_strip }}"
    class="card-image"
  >
    <img
      src="{{ include.image | relative_url | uri_escape }}"
      alt="{{ include.title | default: "card image" | regex_strip }}"
      loading="lazy"
      style="width: 100%; height: auto; max-height: none; object-fit: {% if include.style == 'contain' %}contain{% else %}cover{% endif %};"
      {% include fallback.html %}
    >
  </a>

  <div class="card-text">
    {% if include.title %}
      <a
        {% if include.link %}
          href="{{ include.link | relative_url | uri_escape }}"
          target="_blank"
          rel="noopener noreferrer"
        {% endif %}
        {% if include.tooltip %}
          data-tooltip="{{ include.tooltip | xml_escape }}"
        {% endif %}
        class="card-title"
      >
        {{ include.title }}
    </a>
    {% endif %}

    {% if include.subtitle %}
      {% comment %}
      <span class="card-subtitle">{{ include.subtitle }}</span>
      {% endcomment %}
      <span class="card-subtitle" style="display: block; text-align: center; line-height: 1.4; margin-bottom: 0.2rem;">
        {{ include.subtitle }}
      </span>
    {% endif %}

    {% if include.description %}
      <p style="text-align: left; line-height: 1.6; margin-top: 0.5rem; color: var(--gray);">
        {{ include.description | markdownify | remove: "<p>" | remove: "</p>" }}
      </p>
    {% endif %}

    {% if include.tags or include.repo %}
      {% include tags.html tags=include.tags repo=include.repo %}
    {% endif %}
  </div>
</div>